# MongoDB async driver
pymongo[srv]>=4.9,<5.0
# JWT auth
python-jose[cryptography]
fastapi
uvicorn
python-dotenv
langchain-groq
python-dotenv
google-generativeai
groq
uagents
reportlab
boto3
rapidfuzz
python-multipart